{% extends "base.html" %}
{% block content %}

<div class="card">
  <h3 style="margin-top:0;">Enter / Update Your Pick</h3>
  <form action="/picks" method="post">
    <label class="muted">Your name</label><br/>
    <select name="person" required>
      {% for p in people %}
        <option value="{{p}}">{{p}}</option>
      {% endfor %}
    </select>
    <div class="muted">If you don’t see your name, you can add it on the Standings page.</div>

    <br/><br/>
    <label class="muted">Event</label><br/>
    <select name="event_id" required>
      {% for e in events %}
        <option value="{{e.id}}">{{e.id}} — {{e.name}}</option>
      {% endfor %}
    </select>

    <br/><br/>
    <label class="muted">Player</label><br/>
    <input name="player" placeholder="e.g., Jannik Sinner" required />

    <br/><br/>
    <button type="submit">Save Pick</button>
  </form>

  <p class="muted" style="margin-bottom:0;">
    One pick per event. Submitting again overwrites your previous pick for that event. Picks need to be made at beginning of the year, but with a withdrawal or injury, a re-pick will be allowed.
  </p>
</div>

{% endblock %}
